body {
	background-color: #222226;
	color: whitesmoke;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}

h1, h2, h3, h4, h5, h6, p {
	color: whitesmoke;
}

a, .button-link {
	color: rgb(243, 166, 99);
}

	a:hover, .button-link:hover {
		color: rgb(255, 187, 128);
	}

.codeheader {
	font-size: 8px;
}

.codeoperation {
	visibility: hidden;
}

.bbc_code {
	color: lightsteelblue;
	outline: lightsteelblue;
	outline-style: solid;
	outline-width: 1px;
	display: inline-block;
	background-color: #2a2a2e;
	padding: 4px;
}
